
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; /* Ensure it spans the full width of the page */
  padding: 0;   /* Remove any default padding */
  margin: 0;    /* Remove any default margins */
  box-sizing: border-box; /* Include padding and border in the width/height calculation */
  font-family: Arial, sans-serif;
  margin-right: 10;
  margin-left: 10;
}


.tab-buttons {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.tab-buttons button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-buttons button.active {
  color: white;
  background-color: #0056b3;
}

.tab-buttons button:hover {
  background-color: #ddd;
}

.content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 100px); /* Adjust height based on the space taken by buttons */
  width: 100%; /* Ensure it spans the full width of the page */
  padding: 0;   /* Remove any default padding */
  margin: 0;    /* Remove any default margins */
}

.resizable-section {
  overflow: auto;
  height: 100%;
}

.resizable-section.table-section {
  border-right: 1px solid #ccc;
}

.divider {
  background-color: #ccc;
  cursor: col-resize;
  width: 10px;
  height: 100%;
  flex-shrink: 0;
}

.graph-section {
  overflow: auto;
  height: 100%;
}
