/* Graph Section */

.graph-area {
    height: 100%;
    flex: 1;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    min-height: 300px;
    /* justify-items: right; */
}

.graph-container {
    position: relative;
    resize: both;
    /* width: 600px; */
    min-width: 300px;
    min-height: 300px;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    /* justify-content: right; */
}



.graph-container select,
.graph-container button {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.add-graph-btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}